[Unit]
Description=Run FBP Script when using Soletta Devapp in web browser

[Service]
StandardOutput=journal+console
ExecStart=/usr/bin/sol-fbp-runner %I

[Install]
WantedBy=multi-user.target
